.forgot-pass-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.forgot-pass-form {
    height: 350px;
    width: 400px;
    padding: 10px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}

.forgetpass-buttons {
    width: 110px;
    height: 45px;
    background-color: transparent;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-weight: 700;
}

.footer-forgetpass {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 580px) {
    .footer-forgetpass {
        display: none;
    }
    .forgot-pass-form {
        margin-bottom: 250px;
    }
}
