.signup-linkedin-logo {
    width: 135px;
    margin-top: 25px;
    margin-left: 200px;
    cursor: pointer;
}

.signup-bcg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-head-p {
    font-size: 32px;
}

.signup-form {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 24px 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.signup-input {
    width: 350px;
    height: 35px;
}

.signup-form-p {
    font-size: 12px;
}

.join-button {
    width: 350px;
    height: 48px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #0a66c2;
    font-size: 16px;
    cursor: pointer;
}

.go-to-signin {
    color: #0a66c2;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

go-to-signin:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .signup-linkedin-logo {
        margin-left: 20px;
    }

    .signup-form {
        width: 90%;
    }

    .signup-input {
        width: 100%;
    }
    .signup-head-p {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .signup-linkedin-logo {
        margin-left: 10px;
    }

    .signup-head-p {
        font-size: 16px;
    }

    .signup-form {
        width: 100%;
        padding: 20px;
    }

    .signup-input {
        width: 100%;
    }

    .join-button {
        width: 100%;
    }

    .footer {
        width: 100%;
        gap: 50px;
    }

    .signup-a-tag {
        font-size: 10px;
    }
}
