.header {
    padding: 0px 24px;
    background-color: white;
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: sticky;
}
.logoandsearch {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headernav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logodivs {
    width: 80px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logodivs:hover {
    border-bottom: 2px black solid;
}

.logo {
    width: 25px;
}
.linkedinlogo {
    width: 45px;
    cursor: pointer;
    margin-right: 7px;
}

.searchinput {
    padding: 0 24px;
    width: 280px;
    height: 34px;
    border: none;
    background-color: #dbecfd;
}
.logotext {
    font-size: 12px;
}
a {
    color: #915907;
    font-size: 12px;
}

.logout {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
